body{
    margin: auto;
    margin-top: 200px;
    max-width: 1500px;
}

.board{
    margin: auto;
    max-width: 1500px;
}
.lvlUp{
    display: none;
}

.lvlEnemy{
    text-align: center;
    font-weight: bold;
}

.round{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.roundNbr{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.board_p1{
    max-width: 300px;
     margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.board_p2{
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stats{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stats_p1{
    display: flex;
    flex-direction: column;
}

.stats_p2{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.formulaire{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items:  center;
}

.form{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center;
}

.form_question{
    margin: 10px auto auto auto;
    text-align: center;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

.button{
    text-decoration: none;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(66, 0, 0);
    color: white;
    border: rgb(49, 1, 1) 1px;
    border-radius: 5px;
    padding: 10px;
}

.button_little{
    text-decoration: none;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(66, 0, 0);
    color: white;
    border: rgb(49, 1, 1) 1px;
    border-radius: 5px;
    padding: 10px;
}

.button_bot{
    margin-top: 50px;
    display: flex;
}

.end{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.descriptions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.classe_description{
    max-width: 150px;
    margin: 10px;
}

.classe_description > h2{
    text-align: center;
}